/* .row{
    display:flex;
}

.cell{
    width: 40px;
    height: 40px;
    background-color: lightblue;
}

.wall{
    background-color: darkred;
}

button{
background: whitesmoke;
}

#player{
    width: 20px;
    height: 20px;
    background: greenyellow;
    display: flex;
    align-items: center;
} */




* {
    background: lightblue;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: yellow;
    font-size: 50px;
}

button {
    background: silver;
}

#mapGrid {
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
    justify-content: center;
    
    
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    box-sizing: unset;
}

#start {
    background-color: orange;
}
.row {
    display: flex;
}

#player {
    width: 20px;
    height: 20px;
    background: darkgreen;
    display: flex;
    align-items: center;
}

.wall {
    background: darkred;
}
.finish {
    background-color: seagreen;
}